<footer class="footer">
  <div class="container-fluid">
    <div class="row flex-container-footer">
      <div id="atribuciones" class="col-md-6 col-sm-6 ">
        <h3> Desarrollado por:</h3>
        <ul>
          <li>Fernando Campa&ntilde;a Rojas</li>
          <li>Leonardo Eras Delgado</li>
          <li>Adriano Pinargote Vera</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <p>
          <a href="#">
            <%= image_tag('hierarchy11.svg', class: 'page-logo', alt: 'uDraw.io') %>
          </a>
        </p>
        <ul>
          <li class="seleccionado"><%= link_to 'Tutorial', root_path %></li>
          <li><%= link_to 'Contactenos', root_path %></li>
          <li><%= link_to 'Acerca de', root_path %></li>
        </ul>
        <div class="clear"></div>
        <small class="center-block">
          Copyright &copy; 2015, Politica de privacidad
        </small>
      </div>
    </div>
  </div>
</footer>