<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <%= render 'menu_title' %>
  <a href="<%= login_path %>">
    <button id="btn-log-up" type="button" class="btn btn-default navbar-btn navbar-right menu-button">Iniciar Sesi&oacute;n</button>
  </a>
  <a href="<%= register_path %>">
    <button id="btn-log-in" type="button" class="btn btn-default navbar-btn navbar-right menu-button">Registrarse</button>
  </a>
</div><!-- /.navbar-collapse -->