
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="<%= if current_user then window_url else root_url end%>">
    <%= image_tag('hierarchy11.svg', class: 'page-logo', alt: 'uDraw.io') %>
  </a>
</div>

