<ul id="chat" class="list-group">
  <li class="list-group-item disabled">
    Chat
  </li>
  <li class="list-group-item ">
    <span class="badge">apinargo</span>
    Hola
  </li>
  <li class="list-group-item ">
    <span class="badge">ferecamp</span>
    Ok
  </li>
  <%= render @diagram.comments %>
  <%= render 'comments/form'%>
</ul>